<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Musicly Home</title>
    <link defer rel="stylesheet" href="../css/index.css" />
    <script src="../js/home.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="titles">
        <h1>Welcome to Musicly</h1>
        <h3>Please sign in or create an account to continue</h3>
      </div>
      <div class="login-buttons">
        <button id="sign-in">
          <a href="/signin">Sign In</a>
        </button>
        <button id="sign-up"><a href="signup">Sign Up</a></button>
        <button id="guest"><a href="signin.html">Continue as Guest</a></button>
      </div>
    </div>
  </body>
</html>
