<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a New Lesson</title>
    <link defer rel="stylesheet" href="../css/index.css" />
    <script defer src="../js/instructorCreate.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="titles">
        <h1>Create a new lesson</h1>
      </div>
      <div>
        <form id="form">
          <label for="date"
            >Date
            <input type="date" id="date" required />
          </label>
          <label for="start-time"
            >Start Time
            <input type="time" id="start-time" required />
          </label>
          <label for="stop-time"
            >Stop Time
            <input type="time" id="stop-time" required />
          </label>
          <label for="cost"
            >Lesson Cost
            <input type="number" id="cost" min="1" required />
          </label>
          <input type="submit" value="Create a New Lesson"></input>
        </form>
      </div>
    </div>
  </body>
</html>
