<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instructor Home</title>
    <link rel="stylesheet" href="../css/Idashboard.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script defer src="../js/settings.js"></script>
  </head>
  <body>
    <div class="dash-container">
      <nav>
          <ul>
              <li><a href="/instructor/home" class =logo>
                  <img src="../images/music icon.png" alt="">
                  <span class="nav-item">Musicly Instructor</span>
              </a></li>
              <li><a href="/instructor/home"class ="home">
                  <span class="material-symbols-outlined">
                      home
                      </span>
                  <span class="nav-item">Home</span>
              </a></li>
                <li><button id="sign-out-btn">
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                    <span class="nav-item">Logout</span>
                </button></li>
            </ul>
        </nav>
        


    <section class="InstructorSettings-container">
      <h1 class ="userTitle">Settings for ${getUserName}</h1>
        <div class="login-container">
          <div class="signIn-col-left">
            <div class="login-text">
              <h2>Settings</h2>
              <br>
              <h5>Change your account information here.</h5>
              <br>
              <h5>Making a change will log you out.</h5>
            </div>
          </div>
            <div class="signIn-col-right">
                <div class="login-form">
                  <h2>New Information</h2>
                  <form id="form" action="">
                    <label>Change Username / Email
                      <input type="text" id="change-user-input">
                      <button id="change-email">Change</button></label>
                    <label>Change Password
                      <input type="text" id="change-password-input">
                      <button id="change-password">Change</button>
                    </label>
                    <label>Change My Instrument
                      <select type="text" id="change-instrument-input">
                      <option value="" disabled selected hidden>
                      Select your Instrument
                      </option>
                      </select>
                <button id="change-instrument">Change</button></label>
                  <button id="delete-account">Delete Account</button>
                  </form>
              </div>
          </div>
      </div>
    </section>
  </div>


  </body>
</html>
