<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link defer rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link defer rel="stylesheet" href="../css/dashboard.css">
        <script defer src="../js/settings.js"></script>
    <title>Instructor Settings</title>
</head>
<body>
    <div class="dash-container">
        <nav>
            <ul>
                <li><a href="" class =logo>
                    <img src="../images/music icon.png" alt="">
                    <span class="nav-item">Musicly Instructor</span>
                </a></li>
                <li><a href="instructor/home"class ="home">
                    <span class="material-symbols-outlined">
                        home
                        </span>
                    <span class="nav-item">Home</span>
                </a></li>
                <li><a href=""class ="createLessons">
                    <span class="material-symbols-outlined">
                        add_circle
                        </span>
                    <span class="nav-item">Create a Lesson</span>
                </a></li>
                <li><a href=""class ="viewLessons">
                    <span class="material-symbols-outlined">
                        visibility
                        </span>
                    <span class="nav-item">Available Lessons</span>
                </a></li>
                <li><a href=""class ="viewLessons">
                    <span class="material-symbols-outlined">
                        visibility
                        </span>
                    <span class="nav-item">Scheduled Lessons</span>
                </a></li>
                <li><a href=""class ="viewStudents">
                    <span class="material-symbols-outlined">
                        visibility
                        </span>
                    <span class="nav-item">My Students</span>
                </a></li>
                <li><a href=""class ="Settings">
                    <span class="material-symbols-outlined">
                        settings
                        </span>
                    <span class="nav-item">Settings</span>
                </a></li>
                </a></li>
                <li><a href=""class ="messageCenter">
                    <span class="material-symbols-outlined">
                        chat
                        </span>
                    <span class="nav-item">Message Center</span>
                </a></li>
                <li><a href="" class ="logout">
                    <span class="material-symbols-outlined">
                        logout
                        </span>
                    <span class="nav-item">Logout</span>
                </a></li>
            </ul>
        </nav>
        <h1>Welcome ${getUserName}!</h1>
        <label>Change Username / Email
            <input type="text" id="change-user-input">
        <button id="change-email">Change</button></label>
        <label>Change Password
            <input type="text" id="change-password-input">
        <button id="change-password">Change</button></label>
        <label>Change My Instrument
            <select type="text" id="change-instrument-input">
                <option value="" disabled selected hidden>
                  Select your Instrument
                </option>
            </select>
        <button id="change-instrument">Change</button></label>
        <button id="delete-account">Delete Account</button>
    </div>
</body>
</html>