<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up for Musicly</title>
  <link defer rel="stylesheet" href="../css/index.css" />
  <script defer src="../js/sign-up.js"></script>
</head>

<body>
  <div class=".main-container">
    <div class="titles">
      <h1>Create a New Account</h1>
    </div>
    <div class="info-container">
      <div class="account-type">
        <h2>What type of account would you like to create?</h2>
        <button id="student-account">Student</button>
        <button id="instructor-account">Instructor</button>
      </div>
  <!-- Modal for Instructor Account -->
  <div class="modal" id="modal">
        <div class="modal-header">
          <div>
            <h2 class="header-title" id="header-title">New Instructor Account</h2>
          </div>
          <div>
            <button id="modal-close" class="modal-close">&times</button>
          </div>
        </div>
        <div id="modal-body" class="modal-body">
          <form class="modal-form" id="form">
            <label>First Name
              <input type="text" id="first" required />
            </label>
            <label>Last Name
              <input type="text" id="last" required />
            </label>
            <label>Email Address/Username
              <input type="email" id="email" required />
            </label>
            <label>Enter your Password
              <input type="password" id="password1" required />
            </label>
            <label>Re-enter your Password
              <input type="password" id="password2" required />
            </label>
            <label>Select your Instrument
              <select id="instrument-options" required>
                <option value="" disabled selected hidden>
                  Select your Instrument
                </option>
                <!-- Options to be appended to page from the js file -->
              </select>
            </label>
            <label id="instructor-select-zone"></label>
            <input type="submit" value="Sign Up"></input>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="" id="overlay"></div>
</body>

</html>