<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Home</title>
    <link rel="stylesheet" href="../css/Sdashboard copy.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script defer src="../js/studentHome.js"></script>
  </head>
  <body>
    <div class="dash-container">
      <nav>
        <ul>
          <li>
            <a href="" class="logo">
              <img src="../images/music icon.png" alt="" />
              <span class="nav-item">Musicly <br />Student</span>
            </a>
          </li>
          <li>
            <a href="" class="home">
              <span class="material-symbols-outlined"> home </span>
              <span class="nav-item">Home</span>
            </a>
          </li>
          <li>
            <button id="view-available">
              <span class="material-symbols-outlined"> visibility </span>
              <span class="nav-item">Available Lessons</span>
            </button>
          </li>
          <li>
            <button id="view-my-lessons">
              <span class="material-symbols-outlined"> event_available </span>
              <span class="nav-item">My Lessons</span>
            </button>
          </li>
          <li>
            <a href="#" class="messageCenter">
              <span class="material-symbols-outlined"> chat </span>
              <span class="nav-item">Message Center</span>
            </a>
          </li>
          <li>
            <a href="/settings" class="Settings">
              <span class="material-symbols-outlined"> settings </span>
              <span class="nav-item">Settings</span>
            </a>
          </li>
          <li>
            <button id="sign-out-btn">
              <span class="material-symbols-outlined"> logout </span>
              <span class="nav-item">Logout</span>
            </button>
          </li>
        </ul>
      </nav>

      <section class="main-container">
        <h1>Welcome ${getUserName}!</h1>
        <div id="display-container">
          <div class="inner-container" id="available-lessons">
            <ul id="something"></ul>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
