<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a New Lesson</title>
    <link defer rel="stylesheet" href="../css/index.css" />
    <script defer src="../js/instructorCreate.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="titles">
        <h1>Create a new lesson</h1>
      </div>
        <form>
          <label for="date">Date</label>
          <input type="date" id="date">
          <label for="start-time">Start Time</label>
          <input type="time" id="start-time" />
          <label for="stop-time">Stop Time</label>
          <input type="time" id="stop-time">
          <label for="cost">Lesson Cost</label>
          <input type="number" for="cost">
      </div>
      </form>
    </div>
  </body>
</html>
