@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
*{
    margin:0;
    padding:0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body{
    background: linear-gradient(#840032,#E5DADA);
}
.dash-container{
    display: flex;
}
nav{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #E5DADA;
    width: 280px;
    /* overflow: hidden; */
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1) ;
}
.logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;;
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color: rgb(85,83,83);
    font-size: 21px;
    display: table;
    width: 280px;
    padding: 10px;
}

nav .material-symbols-outlined{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: whitesmoke;
}


/* DISPLAY AREA */

.main-container{
    position: relative;
    padding: 20px;
    width: 90%;
}
.main-area{
    display: flex;
    width: 100%;
}

.main-top{
    display: flex;
    margin-top: 20px;
}
.main-top i{
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(11, 109, 109);
    cursor:pointer
}
#sample-card{
    width: 100%;
    margin: 10px;
    background: #E5DADA;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

#card-title {
text-align: center;
border-bottom: solid 1px black;
}

.card h3{
    margin: 10px;
    text-transform: capitalize;
}
.card p{
    font-size: 20px;
    display: flex;
    padding: 3px;
    flex-direction: column;
}
.deleteAvailable{
    background: #840032;
    color: whitesmoke;
    padding:7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: .5s;
}
.deleteAvailable:hover{
    background: #002642;
}
.main-area .card i{
    font-size: 22px;
    padding: 10px;
}


.main-2{
    margin-top: 20px;
    text-transform: capitalize;
}
.main2-box{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.main2-box ul{
    list-style: none;
    display: flex;

}
.main2-box ul li{
    margin: 10px;
    color: gray;
    cursor: pointer;
}
.active{
    color:black;
    border-bottom: 1px solid black;
}
.main2-content{
    display: flex;
}
.box{
    width: 33%;
    padding:10px;
    margin: 10px;
    border-radius: 10px;
    background: rgba(235, 233, 233);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.box p{
    font-size: 12px;
    margin-top: 5px;
}
.box button{
    background: black;
    color: #E5DADA;
    padding: 7px 10px;
    border-radius: 10px;
    margin-top: 3rem;
    cursor: pointer;
}
.box button:hover{
    background: rgba(0, 0, 0, 0.842);
}
.box i{
    font-size: 7rem;
    float: right;
    margin: -20px 20px 20px 0;
}

li{
  padding: 12px 0;
}
li button{
    position: relative;
    color: rgb(85,83,83);
    font-size: 21px;
    display: table;
    background: #E5DADA;
}

li button:hover{
    background: whitesmoke;
    cursor: pointer;
}
#sign-out-btn:hover{
  width: 98%;
}
#something{
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}



/* Modal Styles for Create a Lesson Feature*/
.modal {
    position: fixed;
    left: 15%;
    right: 15%;
    bottom: 15%;
    top: 15%;
    border: solid 1px black;
    border-radius: 10px;
    /* Comment out this transform property to style the modal */
    transform: scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    background-color: #002642;
  }

  #modal-body{
    height: 90%;
  }
  .active {
    transform: scale(1);
  }
  
  #modal-header {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  
  #modal-title {
    width: 100%;
    font-size: 40px;
    color: #b7b7b7;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  #modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color:#E5DADA;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    align-self: center;
    margin-right: 10px;
  }
  .modal-body {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-item {
    color: 707070;
    width: 80%;
    height: 90px;
    margin: 10px;
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
  }
  #start-time{
    margin-top: 5px;
    background:#E5DADA;
    font-size: 30px;
  }
  #stop-time{
    margin-top: 5px;
    background:#E5DADA;
    font-size: 25px;
  }
  #date{
    margin-top: 8px;
    background:#E5DADA;
    font-size: 25px;
  }
  #cost{
    margin-top: 8px;
    background:#E5DADA;
    font-size: 25px;
  }
  
  .form-submit-button {
    margin-top: 10px;
    width: 200px;
    border: none;
    height: 50px;
    border-radius: 25px;
    transition: .5s;
    background: #E5DADA;
  }

  .form-submit-button:hover{
    
    color:#E5DADA;;
    box-shadow: inset 250px 0 0 0 #840032;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
  
  #overlay.active {
    pointer-events: all;
    opacity: 1;
  }
  
  .active {
    transform: scale(1);
  }
  
  /* */
  
  .modal-form {
    width: 100%;
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    background:#E5DADA;
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  
  .login-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  button {
    padding: 5px;
    margin: 5px;
  }
  
  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .active {
    transform: scale(1);
  }
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
  
  #overlay.active {
    pointer-events: all;
    opacity: 1;
  }