body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.navbar {
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.titles {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px red;
}

/* .account-type {
  border: solid 1px blue;
} */

.inner-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* Lesson Card Styles*/
#available-card-zone {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}


