@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap%27');
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
*{
    margin:0;
    padding:0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: linear-gradient(#002642,#E5DADA);
}
.dash-container{
    display: flex;
}
nav{
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    background: #E5DADA;
    width: 280px;
    /* overflow: hidden; */
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1) ;
}
.logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;;
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color: rgb(85,83,83);
    font-size: 21px;
    display: table;
    width: 280px;
    padding: 10px;
}

nav .material-symbols-outlined{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
    color: #02040F;
}
.nav-item:hover{
    color: #840032;
}
a:hover{
    color: #840032;
}


/* DISPLAY AREA */

.main-container{
    position: relative;
    padding: 20px;
    width: 90%;
}

#sample-card{
    max-width: 350px;
    height: auto;
    margin: 10px;
    background: #E5DADA;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

#card-title {
text-align: center;
border-bottom: solid 1px #02040F;
}

#card-title {
    text-align: center;
    border-bottom: solid 1px #02040F;
}
#card-date{
    font-weight: 800;
    color:#840032;
}

.card h3{
    margin: 10px;
    text-transform: capitalize;
}
.card p{
    font-size: 20px;
    display: flex;
    padding: 3px;
    flex-direction: column;
}
.claim{
    background: #840032;
    color: whitesmoke;
    padding:7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: .5s;
}
.claim:hover{
    background: #002642;
}
.cancel{
    background: #840032;
    color: whitesmoke;
    padding:7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: .5s;
}
.cancel:hover{
    background: #002642;
}


.deleteAvailable{
    background: #840032;
    color: whitesmoke;
    padding:7px 15px;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    transition: .5s;
}
.deleteAvailable:hover{
    background: #002642;
}


li{
  padding: 12px 0;
}
li button{
    position: relative;
    color: rgb(85,83,83);
    font-size: 20px;
    display: table;
    background: #E5DADA;
}

li button:hover{
    color: #840032;
    cursor: pointer;
}
#sign-out-btn:hover{
  width: 98%;
}
#something{
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
    grid-gap: 20px;
    padding: 20px;
}

  

  button {
    padding: 5px;
    margin: 5px;
  }
  
  /* SETTINGS STUFF */

  .login-container{
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 675px;
    display: flex;
    background:#E5DADA;
    box-shadow: 0 0 5px #999999 ;
}
.userTitle{
  margin:15px;
  color: #E5DADA;
}

.login-container label{
  border:none
}
#change-email{
  border-radius: 15px;
  transition: .5s;
}
#change-password{
  border-radius: 15px;
  transition: .5s;
}
#change-instrument{
  border-radius: 15px;
  transition: .5s;
}
#change-instructor{
  border-radius: 15px;
  transition: .5s;
}
#change-instructor:hover{
    background:#840032;
    color:whitesmoke;
}
#change-email:hover{
  background:#840032;
  color:whitesmoke;
}
#change-password:hover{
  background:#840032;
  color:whitesmoke;
}
#change-instrument:hover{
  background:#840032;
  color:whitesmoke;
}
.studentSettings-container{
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 15px;
    width: 100%;
    max-width: 1140px;
    min-height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.signIn-col-left,
.signIn-col-right{
    padding:30px;
    display: flex;
}
.signIn-col-left{
    width: 60%;
    clip-path: polygon(0 0,0% 200%,100% 0);
    background: linear-gradient(#840032,#E5DADA);;
}
.signIn-col-right{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 30px;
    width: 50%;
    margin-left: -10px;
}

.login-text{
    font-size: 20px;
    position: relative;
    width: 100%;
    color: whitesmoke;
}

.login-text h2{
    margin: 0 0 15px 0;
    font-size: 33px;
    font-weight: 700;
}


.login-form{
    position: relative;
    width: 100%;
}
.login-form h2{
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 700;
    color: #02040F;
}
.login-form label{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0;
    text-align: left;
    color: #666666;
    font-size: 18px;
}
.login-form input{
    margin: 10px 10px 10px 0;
    text-align: left;
    color: #666666;
    font-size: 15px;
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    outline:none;
    border: 1px solid whitesmoke;
    border-radius: 30px;
}
.login-form select{
    margin: 10px 0;
    display: block;
    width: 100%;
    height: 35px;
    padding: 0 10px;
    outline:none;
    border: 1px solid whitesmoke;
    border-radius: 30px;
}

.login-form input:focus{
    border-color: #002642;
    
}
#delete-account{
    margin-top: 10px;
    width: 50%;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #002642;
    background: transparent;
    border-radius: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px solid #002642;
    box-shadow: inset 0 0 0 0 #002642;
    transition: .5s;
}

#delete-account:hover{
    color: whitesmoke;
    box-shadow: inset 250px 0 0 0 #002642;
}
.main-container h1{
    color: #E5DADA;
}

@media(max-width:1000px){
    
.studentSettings-container{
    justify-content:initial
    }
.login-container{
        flex-direction: column;
        box-shadow: none;
    }
    .signIn-col-left,
    .signIn-col-right{
    width: 100%;
    margin:0;
    clip-path:none
}
    .signIn-col-right{
        padding:30px;
        padding-bottom: 10px;
        background: #E5DADA;
    }
}

@media(max-width:1000px){
    nav{
        background: transparent;
        width: 100px;
        transition: .5s;
    }
    .nav-item{
        display: none;
        transition: .5s;
    }
    li button{
        background: transparent;
        transition: .5s;
    }
    span{
        color: #E5DADA;
    };
    #modal-title{
        font-size: 15px;
    }
    }

    @media(max-height:950px){
        .userTitle{
            font-size: 20px;
            margin: 10px;
        }
        .studentSettings-container{
            justify-content:initial
            }
        .login-container{
                flex-direction: column;
                box-shadow: none;
            }
        
        .signIn-col-left,
        .signIn-col-right{
        width: 100%;
        margin:0;
        clip-path:none;
        padding:10px;
        }
        .signIn-col-left{
            background: #840032;
        }
        .signIn-col-right h2{
            display: none;
        }
        .login-form input{
            margin: 5px 10px;
            height: 25px;
        }
    }
